@use '../util' as u;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Space Mono', Arial, Helvetica, sans-serif;
  background: var(--light-grayish-cyan);
  min-height: 100vh;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

a {
  text-decoration: none;
}

/* Remove arrow spinners for Webkit browsers (Chrome, Safari, newer versions of Opera) */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove arrow spinners for Firefox */
input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;
}
